@model CreateRequest
<form asp-action="Create" enctype="multipart/form-data">
    <p>Click the follwing link to generate sign link and redirect</p>
    <input type="submit" style="border: 1px solid black;margin: 5px 5px 5px 5px;" /><br />
</form>
